@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Pacifico&display=swap');

.auth-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, #a8edea, #fed6e3);
  color: #000000;
  font-family: 'Nunito', sans-serif;
}

.auth-left,
.auth-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.auth-left {
  text-align: center;
  background: rgba(216, 192, 199, 0.9);
  color: #000000; /* Set text color to black */
  padding: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  
}

.auth-left h1,
.auth-right h2 {
  font-size: 38px;
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
  color: #857878; /* Set text color to black */;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito', sans-serif;
}

.auth-left p,
.auth-right p {
  font-size: 20px;
  line-height: 1.6;
  color: #575252;
}

.auth-right {
  background: #ffffff;
  color: #333333;;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 50px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 350px;
}

input {
  padding: 14px;
  border: 2px solid #fcc9e5;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background: #fafafa;
  font-family: 'Nunito', sans-serif;
}

input:focus {
  border-color: #494042;
  box-shadow: 0 0 8px rgba(179, 148, 153, 0.6);
}

button {
  padding: 12px;
  background-color: #3c0a4b;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
  
}

button:hover {
  background-color: #4fbee0;
  transform: scale(1.02);
}

.auth-switch-link {
  font-weight: bold;
  text-decoration: underline;
  color: #f7f5f5;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 0.5px;
  
}

.auth-right .auth-switch-link {
  color: #1b1516;
}

.auth-right .auth-switch-link:hover {
  color: #e04f6c;
  text-decoration: none;
}

.success,
.error {
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}
