.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
}

.logo-container img {
  height: 55px;
}

.nav-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links .active-link {
  background-color: #e6e6fa; /* Light Lavender */
  color: #000; /* Optional: Change text color for contrast */
}
